.company__details {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 20px;
  opacity: 0.9;
  @media (min-width: 411px) {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.7rem;
  }
  span {
    flex-grow: 1;
    border-bottom: 1px solid #ddd;
  }
  span:nth-child(1) {
    font-weight: 700;
  }
  span:nth-child(2) {
    text-align: right;
  }
  #spinner {
    width: 8px;
    height: 8px;
    @media (min-width: 768px) {
      width: 12px;
      height: 12px;
    }
  }
}
